{% extends '../base.html' %}
{% load static %}

{%  block content%}

<div class="container header my-5">
  <div class="row justify-content-md-center pt-3">
    <div class="col col-lg-8 text-center">
      <h2>Welcome to whatever </h2>
    </div>
  </div>
</div>

<div class="container my-2">
  <div class="col col-lg-4 mx-auto">
    <form action="create_tweet/" method="post" id="tweet_creation_form">
      {% csrf_token %}
      <input type="hidden" value="/" name="next" id="">
      <textarea required name="content" rows="4" cols="30" placeholder="your tweet..."></textarea>
      <button type="submit" name="button" class="btn btn-primary mt-2">tweet it :)</button>
    </form>
  </div>
  <div id="errMsg" class="alert">
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col col-lg-9 text-center mx-auto">
      <div id="tweets">
        Replace me
      </div>
    </div>
  </div>
</div>

<script src="{% static './js/home.js' %}" charset="utf-8"></script>
{%  endblock content%}