{% extends '../base.html' %}

{%  block content%}
<div class="container custom_container my-5">
  <div class="row justify-content-md-center pt-3">
    <div class="col col-lg-8 text-center">
      <h2>Welcome to whatever </h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-lg-9 text-center mx-auto">
      <div id="tweets">
        Replace me
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const tweetElement = document.getElementById("tweets")
  tweetElement.innerHTML = "loading..."

  const handleLike = (tweet_id, current_likes) => {

    current_likes++
    console.log("working")
    id = "tweet_" + tweet_id
    updated_likes = "Like " + current_likes
    likes = document.getElementById(id)
    likes.innerHTML = updated_likes
    console.log(updated_likes)

  }

  function likeBtn(tweet) {
    //console.log(tweet)
    return "<button id= tweet_" + tweet.id + " class = 'btn btn-sm btn-primary mt-2 custom_btn' onclick = handleLike(" + tweet.id + "," + tweet.likes + ") > Like " + tweet.likes + "</button>"
  }

  const xhttp = new XMLHttpRequest()
  const method = 'GET'
  const url = "/list"
  const responseType = "json"

  xhttp.responseType = responseType
  xhttp.open(method, url)
  xhttp.onload = function() {
    console.log("working...")
    const serverResponse = xhttp.response;
    var listed_tweets = serverResponse.response
    console.log(listed_tweets)
    tweetElement.innerHTML = ""
    var final_tweets = ""

    for (var i = 0; i < listed_tweets.length; i++) {

      var currentItem = `<div class='
       tweet mb-2 px-1'><h3 class='mt-2'>${listed_tweets[i].id}</h3>
         <p > ${listed_tweets[i].content}</p>${likeBtn(listed_tweets[i])}</div>`
      final_tweets += currentItem
    }

    tweetElement.innerHTML = final_tweets
  }
  console.log(xhttp)
  // trigger the request
  xhttp.send()
</script>



{%  endblock content%}